@import './variables';

/* //   typografy */
.text, .title, .subtitle {
  font-family: 'Dosis';
  margin: 0;
  /* text-wrap: wrap; */
  color: var(--dark-gray);
}

.text {
  font-size: 21px;
  margin-top: 1.7em;
}

.subtitle {
  font-size: 30px;
}
  
.title {
  font-size: 90px;
  font-weight: 600;
}

.task-name {
  font-size: 21px;
  font-weight: 400;
}
