@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');
@import './styles/main';

*, body {
  font-family: 'Dosis';
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
